**/node_modules/
**/dist/
**/npm-debug.log
**/.DS_Store
/control/*[^config].js
**/*.ngfactory.js
**/*.ngfactory.ts
**/*.metadata.json
sandbox
default-exports/*.js
form-control/*.js
form-control-error/*.js
func-in-providers/*.js
func-in-declarations/*.js
func-in-routes/*.js
private-input/*.js
private-output/*.js
private-viewchild/*.js
private-contentchild/*.js
private-hostbinding/*.js
interpolated-es6/*.js
